
/* General Styles */ 
    html{
        --font-size-normal: 10px;
        --font-size-regular: 11px;
        --primary-color: #4CAF4F;
        --d-grey-color: #4D4D4D;
        --grey-color: #717171;
        --white-color: #fff;
        --silver-color: #F5F7FA;
    }
    *{
        font-family: "Inter", sans-serif;
    }

    h1{
        font-size: 45px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 19px;
    }

    h1, h2, h3{
        color: var(--d-grey-color);
    }

    body{

        font-size: 12px;
    }
    p{
        color: var(--grey-color);
    }
    .btn{
        padding: 10px 22px;
        border-radius: 3px;
        background-color: var(--primary-color);
        color: var(--white-color);
        border: 0;
        cursor: pointer;
    }
    .container{
        width:800px;
        margin: 0 auto;
    }
/* General Styles */
/* Header Styles */
    header{
        padding: 11px 0;
    }
    header .header-content{
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    header .nav-cta{
        display:flex;
        column-gap: 10px;
    }
    header img{
        width: 107px;
    }
    header nav ul{
        list-style-type: none;
        display: flex;
        column-gap: 16px;
    }
    header nav ul li a{
        text-decoration: none;
        color: var(--d-grey-color);
    }
    header nav ul li a:hover{
        color: var(--primary-color);
    }
    .dot{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .dot img{
        width: 30px;
    }
/* Header Styles */

/* Hero Section */
    .hero{
        padding:66px 0;
        background-color: var(--silver-color);
    }
    .hero .hero-content{
        display: flex;
        justify-content: space-between;
    }
    .hero .hero-text h1 span{
        display: block;
        color: var(--primary-color);
    }
    .hero .hero-text h1{
        margin: 0;

    }
    .hero .hero-text p{
        margin: 0;
        margin-top: 11px;
    }
    .hero .hero-text button{
        margin-top: 22px;
    }

/* Hero Section */
/*  Our Clients  */
    .Clients-section h2,p{
        text-align: center;
    }       
    .Clients-section ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }
/*  Our Clients  */
/* Community Section */
    .boxes{
        display: flex;
        justify-content: space-between;
        
    }
    .boxes div{
        width: 150px;
        text-align: center;
        box-shadow: 0 0  5px var(--silver-color);
    }
    .Community-section h2{
        text-align: center;
    }
   
/* Community Section */
/* spending-section */
    .spending-section{
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .spending-section .spending-text{
        width: 370px;
        display: flex;
        flex-direction: column;
        align-items: start;
        column-gap: 10px;
    }
    .spending-section .btn{
        margin-top: 10px;
    }
    .spending-section .spending-text p{
        text-align: left;
    }
/* spending-section */
/* Helping-section */   
    .Helping-section{
       background-color: var(--silver-color);
    }
    .Helping{
        display: flex;
        justify-content: space-between;
        padding: 48px;
    }
    .Helping .Helping-text{
        width: 300px;
    }
    .Helping .Helping-text span{
        display: block;
        color: var(--primary-color);
    }
    .Helping .Helping-text p{
        text-align: left;
    }
    .Helping .Helping-icon{
        width: 250px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 23px;
        margin-top: 10px;
    }
    .Helping .Helping-icon div{
        width: 85px;
        display: flex;
        align-items: center;
    }
    .Helping .Helping-icon div div{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
    .Helping .Helping-icon div div h3,p{
        margin: 2px;

    }
/* Helping-section */
/* design-section-1 */
    .design-section{
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .design-section .design-text{
        width: 430px;
        display: flex;
        flex-direction: column;
        align-items: start;
        column-gap: 10px;
    }
    .design-section .design-text p{
        text-align: left;
        padding: 10px 0 15px 0;
        
    }
/* design-section-1 */
/* design-section-2 */
    .design{
        background-color: var(--silver-color);
        padding: 20px;
    }
    .design-2{
        display: flex;
        justify-content: space-between;
    }
    .design .div-img img{
        width: 226px;
    }
    .text-div{
        display: flex;
        flex-direction: column;
        width: 600px;
    }
    .design cite .span1{
        display: block;
        color: var(--primary-color);
        text-align: left;
   
    } 
    .design .span1,.span2{
        margin-left: 38px;
        font-weight: 600;
    }
    .design .span2{
      display: block;
      margin-top: 5px;
      font-weight: 10;
    }
    .design ul{
        list-style-type: none;
        display: flex;
        column-gap: 30px;
        margin-top: 20px;
    }
    .design ul li a{
        text-decoration: none;
        color: var(--primary-color);
    }

/* design-section-2 */
/* Nexcent-Blog */
.Nexcent-Blog{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin-bottom: 100px;
}
.Nexcent-Blog p{
    margin-bottom: 10px;
}
.Nexcent-Blog .div-article{
    display: flex;
    justify-content: space-around;
    position: relative;

}
.Nexcent-Blog .div-article .abov,.abov2,.abov3{
    background-color: var(--silver-color);
    padding: 4px 0px 4px 0px;
    width: 230px;
    position: absolute;
    bottom: -50px;
    left: 19px;
    border-radius: 10px;
    box-shadow:  2px 2px 10px #c4c4c4;
}
.Nexcent-Blog .div-article .abov2{
    left: 286px;

}
.Nexcent-Blog .div-article .abov3{
    left: 553px;
}
.Nexcent-Blog .div-article a{
    color: var(--primary-color);
    text-decoration: none;
}
/* Nexcent-Blog */
/* CTA-section */
.CTA-section{
    background-color: var(--silver-color);
    text-align: center;
    padding: 50px;
}
.CTA-section .CTA-span{
    display: block;
    line-height: 45px;
}
/* CTA-section */
/* Footer Bottom */

footer{
    background-color: #1F2937;
    padding: 20px; 
}
.footer-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-bottom h4{
    color: var(--white-color);
}
.footer-bottom ul li a{
    
    color: var(--d-grey-color);
}
.logo-section{
    /* display: flex; */
    flex-direction: column;
    align-items: start;
}
.logo-section .next-logo img{
    width: 30px;
    margin-right: 3px;
}
.logo-section .next-logo{
    font-size: large;
    font-weight: 600;
    color: var(--white-color);
    width: 130px;
    height: 50px;
    margin-bottom: 0%;
    
}
.logo-section .logo-span,.logo-p{
    display: block;
    text-align: left;
    line-height: 20px;
    color: var(--silver-color);
    margin-top: 0%;
}
.logo-section ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0%;
}
.logo-section ul li{
    padding-right: 15px;
}
.Company-section nav ul{
    list-style-type: none;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 0%;
}
.Company-section nav ul a{
    text-decoration: none;
    color: var(--silver-color);
}
.Support-section nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    line-height: 20px;
    padding-left: 0%;
}
.Support-section nav ul a{
    text-decoration: none;
    color: var(--silver-color);
}

.end-section{
    margin-bottom: 85px;
}
.end-section input{
    border-radius: 5px;
    border: none;
    padding: 8px;
    opacity: calc(0.4);
    outline: none;
}
/* Footer Bottom */

@media (max-width: 992px) {
    /* hero-section */
    header {
        display: flex;
    }
    .header-content {
        display: flex;
        flex-direction: column;
      }
    /* hero-section */
    /* Clients-section */
    .Clients-section ul{
        display: flex;
        justify-content: center;
    }  
    /* Clients-section */
}
@media (max-width: 655px) {

    .header-content {
        display: flex;
        flex-direction: column;
      }
      .nav-cta{
        display: flex;
        flex-direction: column;
      }
      .hero-content{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 20px;
        font-size: 10px;
      }
      .hero-text p{
        text-align: left;
      }
    .hero-text h1{
      font-size: 26px;
    }
    /* hero-section */
    .Clients-section{
        text-align: left;
    }
   

}

